.btn-md:hover{
  background-color: #ccc;
}
.btn-md{
  min-width: 110px;
  margin-top: 15px;
  margin-left: 5px;
}
h3{
  color: #6C757D;
}
.icon_btn{
  border:none;
  outline:none;
  background-color: transparent;
  
}
.icon{
  color:#6C757D;
  font-size: 40px;
}
.list-group{
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  
  .list-group-outline-secondary{
    text-align: center;
    width:400px;
    height:200px;
    line-height: 170px;
    background-color:white;
    border-color: #6C757D;
  }
  .list-group-outline-secondary:hover{
    color: white;
    background-color: #ccc;
    cursor: pointer;
  }
}
.list-group[data-show=false] {
  display: none;
}
.flex-div-end{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.flex-div-center{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.flex-div-start{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.signature-box{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.signature-box[data-show=false]{
  display: none;
}
.searchForm[data-show=false] {
  display: none;
}
.radioBtn{
  margin-left: 20px;
  margin-right: 20px;
}
.selection{
  min-width: 185px;
}
.sign_container{
  width: 550px;
  height: 300px;
  border: 5px solid #8888;
  background-color: white;

}


.curTicketTb{
  th{
    background-color: #4CAF50;
  }
  .col_1{
    max-width: 240px;
    word-wrap:break-word;
    
  }
   .col_2{
    max-width: 40px;
    word-wrap:break-word;
  }
   .col_3{
    max-width: 60px;
    word-wrap:break-word;
  }
  

}

.App{
  width: 98vw;
  height: 98vh;
}

.box{
  border: 5px solid #8888;
  margin-top:5px;
  margin-bottom:5px;
}
.Ma{
  margin-top: 3px;
  margin-bottom: 3px;
}

.OrderReportTb{
  min-width: 100%;
   
  th{
    background-color: #4CAF50;
  }
  .col_1{
    min-width: 150px;
    max-width: 200px;
    word-wrap:break-word;
    
  }
   .col_2{
    min-width: 150px;
    max-width: 200px;
    word-wrap:break-word;
  }
   .col_3{
    min-width: 150px;
    max-width: 200px;
    word-wrap:break-word;
  }
  .col_4{
    min-width: 150px;
    max-width: 200px;
    word-wrap:break-word;
  }
  .col_5{
    min-width: 200px;
    max-width: 400px;
    word-wrap:break-word;
    
  }
   .col_6{
    min-width: 200px;
    max-width: 400px;
    word-wrap:break-word;
  }
   .col_7{
    min-width: 200px;
    max-width: 400px;
    word-wrap:break-word;
  }
  .col_8{
    min-width: 50px;
    max-width: 200px;
    word-wrap:break-word;
  }
 }



.purTicketTb{
  
   
  th{
    background-color: #4CAF50;
  }
  .col_1{
    max-width: 210px;
    word-wrap:break-word;
    
  }
   .col_2{
    max-width: 40px;
    word-wrap:break-word;
  }
   .col_3{
    max-width: 60px;
    word-wrap:break-word;
  }
  .col_4{
    max-width: 30px;
    word-wrap:break-word;
  }
 }

 .planSerTb{
  th{
    background-color: #4CAF50;
  }
  .col_1{
    max-width: 270px;
    word-wrap:break-word;
    
  }
   .col_2{
    max-width: 40px;
    word-wrap:break-word;
  }
  
  .col_3{
    max-width: 30px;
    word-wrap:break-word;
  }
 }

 .fseSerTb{
  th{
    background-color: #4CAF50;
  }
  .col_1{
    max-width: 270px;
    word-wrap:break-word;
    
  }
   .col_2{
    max-width: 40px;
    word-wrap:break-word;
  }
  
  .col_4{
    max-width: 30px;
    word-wrap:break-word;
  }
 }
 table{
  border:3px solid black;
 }
 th,td{
  border:1px solid black;
 }
 tr:nth-child(even){
   background-color: #f2f2f2;
 }
 



.sign_PNG[data-show=false]{
  display: none;
}
.signatureBtn[data-show=false]{
  display: none;
}
.purTicketModal[data-show=false]{
  display: none;
}
.purTicketModal{
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 1s; 
}
.planSerCateModal[data-show=false]{
  display: none;
}
.planSerCateModal{
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.fseSerCateModal[data-show=false]{
  display: none;
}
.fseSerCateModal{
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}